.tit{
    text-align: center;
    color: rgb(153, 16, 119);
}

b{
    color: rgb(153, 16, 119);
}

.container{
    background-color: rgb(240, 213, 234);
    padding: 5px 5px 5px 25px;
    
}

body{
    padding: 55px 5px 5px 5px;
}

.upl{
    font-size: 12px;
}

