.tit{
    text-align: center;
    color: rgb(0, 0, 255);
}

b{
    color: rgb(255, 149, 0);
}

.container{
    background-color: rgb(240, 213, 234);
    padding: 5px 5px 5px 25px;
    
}

body{
    padding: 55px 5px 5px 5px;
}

